networks:
 docker:
    name: docker

services:
  journal:
    image: ghcr.io/sandialabs/sync-services/general:1.0.0
    container_name: journal
    networks:
      - docker
    environment:
      SECRET: ${SECRET}
      PERIOD: ${PERIOD:-2}
      WINDOW: ${WINDOW:-1024}
      RUST_LOG: ${RUST_LOG:-INFO}
    volumes:
      - database:/srv/database

  interface:
    image: nginx:stable-alpine
    container_name: interface
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - journal
    networks:
      - docker
    ports:
      - "${PORT:-8192}:80"

volumes:
  database:
