networks:
 docker:
    name: docker

services:
  journal:
    image: ghcr.io/sandialabs/sync-services/general:1.0.0
    container_name: journal
    networks:
      - docker
    environment:
      SECRET: ${SECRET}
      PERIOD: ${PERIOD:-2}
      WINDOW: ${WINDOW:-1024}
      RUST_LOG: ${RUST_LOG:-INFO}
    volumes:
      - database:/srv/database

  explorer:
    image: ghcr.io/sandialabs/sync-services/explorer:1.0.1
    container_name: explorer
    networks:
      - docker
    environment:
      SYNC_EXPLORER_ENDPOINT: /interface/json
      SYNC_EXPLORER_PASSWORD: ${SECRET}

  workbench:
    image: ghcr.io/sandialabs/sync-services/workbench:1.0.0
    container_name: workbench
    networks:
      - docker
    environment:
      SYNC_WORKBENCH_ENDPOINT: /interface

  interface:
    image: nginx:stable-alpine
    container_name: interface
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - journal
      - explorer
      - workbench
    networks:
      - docker
    ports:
      - "${PORT:-8192}:80"

volumes:
  database:
